{% extends "main.html" %}
{% block content %}

<div class="leftPane">
<h2>Edit Category Item {{item.name}} of Category {{category.name}}</h2>
<div>
<form action="{{url_for('editItem',category_id=category_id,item_id=item_id)}}" method='Post'>
	<p>Name:<input type='text' size='30' name='name' placeholder='{{item.name}}'></p>
	
</br>
<p>description:<input type='text' size = '150 'name='description' placeholder='{{item.description}}'></p>
	
	</br>
	<p>price:<input type='text' size = '20' name='price' placeholder='{{item.price}}'></p>
	
	</br>
<p>Category:</p>
	

<select name='catf'>
	{% for cat in categories %}
  <option value="{{ cat.id }}" selected>{{cat.name}}</option>
{% endfor %}
</select>
<br>
<br>	<input type='submit' value='Edit'>
	
</form>
</div>
<br>

<a href = "{{url_for('showCategories')}}"> Cancel </a>
</div>
{% endblock %}